In [5]:
fruits=['apple','orange','grape','blueberry','guava']
print(len(fruits))
fruits[0]="cherry"
fruits.append("apple")
print(fruits)
fruits.pop(1)
print(fruits)
fruits.insert(3,"mango")
print(fruits)
fruits.remove("grape")
print(fruits)
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)

5
['cherry', 'orange', 'grape', 'blueberry', 'guava', 'apple']
['cherry', 'grape', 'blueberry', 'guava', 'apple']
['cherry', 'grape', 'blueberry', 'mango', 'guava', 'apple']
['cherry', 'blueberry', 'mango', 'guava', 'apple']
['apple', 'blueberry', 'cherry', 'guava', 'mango']
['mango', 'guava', 'cherry', 'blueberry', 'apple']

In [8]:
list1=[1,2,3,[4,5]]
print(1 in list1)
print([4,5] in list1)
print(4 in list1)
print(4 in list1[3])

True
True
False
True

In [12]:
list2=[1,2,3,[4,5,[6,7,8],9]]
print(list2)
print(list2[3][2][1])

[1, 2, 3, [4, 5, [6, 7, 8], 9]]
7

In [ ]:
squares=[x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [14]:
words=['apple','banana','cherry']
uppercased=[word.upper() for word in words]
print(uppercased)

['APPLE', 'BANANA', 'CHERRY']

In [19]:
notvegetables={'apple','orange','grape','blueberry','guava','apple'}
print(notvegetables)
print(dir(notvegetables))
notvegetables.pop()
print(notvegetables)
notvegetables.remove('grape')
print(notvegetables)

{'orange', 'blueberry', 'guava', 'grape', 'apple'}
['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']
{'blueberry', 'guava', 'grape', 'apple'}
{'blueberry', 'guava', 'apple'}

In [20]:
set1={'a','b','c'}
set1.remove("a")
set1.discard("a")
#discard doesnot throw erroe if the item u try to delete doesn't exist

In [ ]:
falful=('apple','orange','grape','blueberry','guava','apple')
print(dir(falful))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [27]:
chocolate=('dairymilk','dark','kitkat')
y=('hideandseek','trople')
chocolate+=y
print(chocolate)

('dairymilk', 'dark', 'kitkat', 'hideandseek', 'trople')

In [ ]:
chocolate=('dairymilk','dark','kitkat','hideandseek','trople')
# (blue,black,red)=chocolate
(blue,*black,red)=chocolate
print(blue)
print(black)
print(red)

dairymilk
['dark', 'kitkat', 'hideandseek']
trople

In [6]:
tup=(1,2,3,(4,5),6)
print(tup)

(1, 2, 3, (4, 5), 6)

In [7]:
str="bishal"
a=[q for q in str]
print(a)
list(str)

['b', 'i', 's', 'h', 'a', 'l']

['b', 'i', 's', 'h', 'a', 'l']

In [8]:
list=[1,"hello",3.14,True]
tuple=(1,"hello",3.14,True)
set={1,"hello",3.14,True}
print(list,tuple,set)

[1, 'hello', 3.14, True] (1, 'hello', 3.14, True) {1, 3.14, 'hello'}

In [10]:
fruits=['apple','orange','grape','blueberry','guava']
for i in range(len(fruits)):
    if fruits[i]=="apple":
        print("there is")

there is

In [11]:
print(fruits*2)

['apple', 'orange', 'grape', 'blueberry', 'guava', 'apple', 'orange', 'grape', 'blueberry', 'guava']

In [12]:
student={
2:'first',
"name": "bishal",
"age":"21",
"courses":["ladkibaji","chori"]
}
print(student)
print(dir(student))
student["status"]="multiple engagements"
print(student)
del student["age"]
print(student)

{2: 'first', 'name': 'bishal', 'age': '21', 'courses': ['ladkibaji', 'chori']}
['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
{2: 'first', 'name': 'bishal', 'age': '21', 'courses': ['ladkibaji', 'chori'], 'status': 'multiple engagements'}
{2: 'first', 'name': 'bishal', 'courses': ['ladkibaji', 'chori'], 'status': 'multiple engagements'}

In [13]:
if "bishal" in student.values():
    print("exists")
else:
    print("not exist")

exists

In [14]:
for key in student:
    print(key)
for key,values in student.items():
    print(f'{key} : {values}')

2
name
courses
status
2 : first
name : bishal
courses : ['ladkibaji', 'chori']
status : multiple engagements